[Desktop Entry]
Name=etc-cleaner
Comment=Clean up config files in /etc
Exec=xterm -geometry 30x5 -e etc-cleaner
Icon=etc-cleaner
Terminal=false
Type=Application
Categories=System;X-Fedora;
